<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\VisualStudioProjectsSpace\Currency_Convertor_Static\Currency_Convertor_Static\DataBase\CurrencyDataBase.mdf; Integrated Security=True" providerName="sqlserver"/>
	</connectionStrings>
</configuration>